/* #html {
    top:0;
    left:0;
} */
body {
    background-color: #5bebdb;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    display:flex;
    justify-content: space-evenly;
    height:50px;
    width:100%;
}
.game-screen {
    width: 500px;
    height: 500px;
    background-color: rgba(255,255,255,.25);
    display:grid;
    grid-template-rows: 10% 30% 30% 15% 15%;
    grid-template-columns: 25% 25% 25% 25%;
}
.game-status-bar {
    display:flex;
    justify-content: space-between;
    height: 50px;
    grid-column: 1/span 4;
    grid-row:1;
    margin: 0 10px 0 10px;
}
.pet-avatar-box {
    background-color: whitesmoke;
    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width:250px;
    grid-column: 2/span 4;
    grid-row: 2/span 4;
}
.pet-status-bar {
    grid-row:4;
    grid-column:1 /span 4;
    display:flex;
    /* flex-direction: column;
    align-items:flex-start; */
}
span {
    color:goldenrod;
}
.game-actions-bar {
    grid-row:5;
    grid-column: 1/span 4;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1;
}
.start-button {
    grid-column: 1;
    grid-row:1;
}
.feed-button {
    grid-column: 2;
    grid-row:1;
}
.lights-button {
    grid-column: 3;
    grid-row:1;
}
.play-button {
    grid-column: 4;
    grid-row:1;
}

.footer-contact-bar {
    display:flex;
    justify-content: space-evenly;
}